// Text
h1, h2, h3, h4, h5, h6, small, p {
  @extend .rest-m-p;
  font-weight: $regular;
  line-height: normal;
}

h1 {
  //
}

h2 {
  //
}

h3 {
  //
}

h4 {
  //
}

h5 {
  //
}

h6 {
  //
}

small {
  //
}

strong {
  font-weight: $bold;
}


//Buttons

button, .button {
  //
}


// Others

input {
  &:active, &:focus {
    outline: none;
  }
}

hr {
  //
}

a {
  //
}

nav {
  //
}

section {
  // Set margin top bottom use spaces
}

footer {
  //
}