// set font @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
  font-size: 5px;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  // background-color: Set background color;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  // color: Set text color;
  // background-color: Set Background color;
}
