//Extends or Methods

.animate {
  transition: all .2s;
}

.floating {
  @extend .animate;
  
  &:hover {
    transform: translateY(-5px);
  }
}

.no-animate {
  &:hover, &:active, &:focus {
    transition: none;
  }
}